.profileMain {
    /* background: url("https://wallpaperaccess.com/full/187161.jpg"); */
    background: url("https://t4.ftcdn.net/jpg/04/76/88/43/360_F_476884330_ZuEdqGXQF5stdevOSE73l0Z270dSVTxN.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(28, 79, 141);
}

.profileHead {
    min-height: 20%;
    margin-top: 19vh;
}

.profileHead h1 {
    color: white;
    font-size: 1.5rem;
}

#profileInfo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 26, 147);
    font-size: .5em;
    width:100%;
    position: absolute;
    top: 10vh;
    padding-block: 1.2em;
    border-radius: 0px 0px 10px 10px;
    /* position: relative;
    left: 1vw;
    bottom: 14.8vh; */
    color: white;
    font-weight: bold;
}

#loggedInRAddress {
    margin-left: 8vw;

}

/* #loggedInLoggedIn {

} */

/* #loggedInLoggedIn em {
    color: red;
}

#loggedInRAddress em{
    color: purple;
}

#profileStats #loggedInXummToken {
    margin-bottom: 20px;
}

#loggedInXummToken em {
    color: blue;
    margin-bottom: 20px;
} */

#profileInfo em {
    color: yellow;
}

.profileBody {
    min-height: 80%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profileCard {
    text-align: start;
    font-style: bolder;
    font-size: .85rem;
    min-height: 15vh;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
    /* background-color: rgb(244, 241, 202); */
    background-color: rgb(26, 26, 147, .85);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#characterImage {
    height: 180px;
    width: 180px;
    padding: .5rem;
    margin: auto;
    border-radius: 25px;
    border: 1px solid white;

}

#profileStats {
    /* margin: auto; */
    margin-top: 15px;
    margin-left: 15px;
}

#profileStats p{
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-end: 32px;
    font-weight: bold;
}


#profileStats .skillPoint em {
    color: yellow;
    text-decoration:underline;
}



#profileBodyMain {
    background-color: rgb(242, 204, 52);
    border-radius: 20px;
 
    padding: 1rem;
    margin: 1rem;
}