@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,600&display=swap');


/* ENTIRE PROFILE PAGE CONTAINER */
.profileMain {
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(49,78,98),rgb(76,125,141), rgb(14,40,59));

}

/* ENTIRE PROFILE DASHBOARD CONTAINER */
.profileDash {
    height: fit-content;
    margin-inline: auto;
    margin-block: 0px;
    margin-bottom: 100px;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

#welcomeTitle {
    width: 100%;  
    max-width: 430px;
    color:#CFA14E;
    font-size: 1.1em;
    text-align: start;
    margin-left: 50px;
}

#welcomeTitle em{
    color: #FBF4BB ;
    font-size: 1.2em;
}

/* PROFILE NFT INFO SECTION */
.dashMain {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    color: #CFA14E;
    font-size: 16px;
    margin: 30px;
    margin-bottom: 20px;
    /* background-color: rgba(255, 255, 255, 0.815); */
    border: 2px solid #242A49;
    box-shadow: 2px 6px 2px #242A49;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    z-index: 1;
} 

#identitySectionDiv {
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
}

#identitySectionDiv img {
    width: 60%;
    max-width: 160px;
}

.identitySectionDivInfo {
    width: fit-content;
    text-align: start;
    padding-block: 10px;
    margin: auto;
}

.identitySectionDivInfo p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 600;
    font-size: .8em;
}

.identitySectionDivInfo p em {
    color: #FBF4BB ;
}

.asideIdentitySectionDiv {
    width: 100%;
    text-align: start;
    padding: 10px;
}

.asideIdentitySectionDiv button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

#treesImg {
    z-index: 0;
    opacity: .85;
    display: none;
}

/* TESTING TESTING */

/* .profileDash {  
    margin-block: 0px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dashMain {
    height: fit-content;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 100%; 
    width: 100%;
}

#identitySectionDiv {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    color: #242A49;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(8, 27, 40, 0.815);
    box-shadow: 2px 6px 2px #242A49;
    border-radius: 0px 0px 50px 50px;
    padding: 20px;
    padding-top: 16vh;
}

#identitySectionDiv img {
    width: 60%;
}

.identitySectionDivInfo {
    width: fit-content;
    text-align: start;
    padding-block: 10px;
    margin: auto;
}

.identitySectionDivInfo h3 em{
    color: #4D5373 ;

}

.identitySectionDivInfo p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #242A49;
    font-weight: 600;
    font-size: .75em;
}

.identitySectionDivInfo p em {
    color: #6d759e ;

} */

/* TESTING TESTING */
.createIdentitySection {
    background-color: #1e283be4 ;
    padding: 20px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    height: 150px;
    width: 150px;
    box-shadow: 0px 10px 18px 0px #242a49cb;
}

.createIdentitySection h3 {
    margin: .3em;
    color: #e8cd1d;
    font-size: .9em
}

.createIdentitySection p {
    max-width: 300px;
    color: white;
    font-size: .75em;
    border-radius: 20px;
    padding-inline: 8px;
    margin-block: 5px;
}

.createIdentitySection button {
    font-size: .65em;
    padding: 6px 8px;
    border-radius: 10px;
    margin-top: 5px;
}

/* DASHBOARD AREA ABOUT WALLET */
.walletDashSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;  
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
}

.walletDashSection h2 {
    width: 100%;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.walletDashBoxesContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;  
}

.dashSection {
    box-shadow: 2px 1px 2px #1e283be4 ;
    border-radius: 20px;
    margin: 10px;
    font-size: .58em;
    text-align: start;
    width: 100%;
    /* background-image: linear-gradient(to bottom right, transparent, #4d6592e4  ); */
    background-color: #CFA14E;
    padding: 15px;
}

.dashSection h2 {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    margin:0px;
    margin-bottom: 5px;
}

/* DASH SECTION INFO CONTAINER */

.dashSectionInfoContainer {
    text-align: start;
    display: flex;
    justify-content: start;
    margin: auto;
    font-size: 1.5;
}

.dashSectionInfoContainer img {
    height: 80px;
    width: 80px;
}

.dashSectionInfoContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-top: 1vh;
}

.dashSectionInfoContainer div p {
    margin-top: 0px;
    margin-bottom: 2px;
    color: #1f293de4;
    border-radius: 10px;
}

.dashSectionInfoContainer p em {
    color: white;
}

.parentAddress {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 120px;
    white-space: nowrap;
    font-size: .8em;
}

.parentAddress:hover {
    text-overflow: wrap;
    overflow: visible;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


/* NEW NFT MINTING QR SECTION */

.mintNftQrDiv {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 55vw;
    max-width: 300px;
    background-color: #264c7aec;
    color: white;
    padding: 26px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-54%, -50%);
    z-index: 1;
    min-width: 300px;
}

.mintNftQrDiv img {
    height: 130px;
    width: 130px;
}

.mintNftQrDiv p {
    font-weight: 700;
    font-size: 16px
}

/* TX TREE VISUAL */
#collapsibleTree {
    width: 80%;
    color: #CFA14E;

}

#collapsibleTree h4 {
    margin: 0px;
}

#yourTooltipID {
    word-wrap: break-word;
    width: fit-content;
    max-width: 180px;

}

/* RESPONSIVE SIZING */

@media screen and (min-width: 540px) {

    .profileDash {
        margin-top: 8vh;
    }

    #welcomeTitle {
        margin-bottom: 0px;
        margin-top: 6vh;
    }
    
    #welcomeTitle em{
        font-size: 1.4em;
    }

    .dashMain {
        margin: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
        max-width: 650px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 50px;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    #identitySectionDiv {
        width: 90%;
        margin: 0px;
        border: none;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 360px;
    }

    .identitySectionDivInfo {
        margin:0px;
        margin-left: 2vw;
    }

    .identitySectionDivInfo h3{
        margin-top: 3px;
        margin-bottom: 6px;
        font-size: .9em;
    }

    .identitySectionDivInfo p {
        font-size: .75em;
    }

    #identitySectionDiv img {
        width: 100%;
        max-width: 140px;
    }

    .asideIdentitySectionDiv {
        width: 80%;
        height: fit-content;
        font-size: .8em;
        max-width: 420px;
        padding-bottom: 0px;
    }

    .asideIdentitySectionDiv h3 {
        margin-top: 0px;
    }

    .walletDashBoxesContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        margin-bottom: 4vh;
        margin-top: 0vh;
        max-width: 975px;
        margin: auto;
    }

    .dashSection {
        width: 150px;
        margin: 5px;
    }  

    .dashSectionInfoContainer img {
        height: 50px;
        width: 50px;
    }

    .dashSection h2 {
        margin-bottom: 0px;
    }

    .dashSectionInfoContainer {
        font-size: 1em;
    }

    .dashSectionInfoContainer div {
        margin-left: 1vw;
        margin-top: 4px;
    }

    #treesImg {
        display: block;
        width: 95vw;
        
    }

    #collapsibleTree {
        max-width:600px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        margin: auto;
    }

    #yourTooltipID {
        word-wrap: break-word;
        max-width: 260px;
    
    }
}

@media screen and (min-width: 608px) {
    #treesImg {
        /* top: 52vh; */
    }

    .walletDashBoxesContainer {
        max-width: 400px;
    }
}

@media screen and (min-width: 740px) {
    .dashMain {
        max-width: 700px
    }

    #treesImg {
        max-width: 800px;
    }

}

/* @media screen and (min-width: 440px) {
    .profileDash {
        align-items: start;
    }

    .walletDashSection {
        flex-direction: row ;
    }
} */

/* @media screen and (min-width: 440px) {

    .dashSection {
        margin: 5px;
        width: 165px;
        box-shadow: 2px 0px 2px rgb(219, 218, 218);
        border-radius: 20px 20px 20px 20px;
    }

    .dashSection h2 {
        font-size: 20px;
    }
} */

/* @media screen and (min-width: 472px) {

} */

/* @media screen and (min-width: 712px) {
    #identitySectionDiv {
        width: 70%;
    }
} */