.testForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    font-size: 11px;
    width: 55vw;
    max-width: 300px;
    background-color: rgba(38, 76, 122, 0.925);
    color: white;
    padding: 26px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -50%);
    z-index: 10;
}

.testForm div span {
    color: rgb(238, 97, 75);
}

.testForm div label {
    padding-right: 4px;
}

.testForm > * {
    margin-bottom: 8px;
}

.testForm h2 {
    padding-block: 14px;
    margin-block: 0px;
    padding-top: 0px;
    text-decoration: underline;
}

#testFormSubmitButton {
    background-color: white;
    color: rgb(39, 63, 116);
    padding: 2px 7px;
    border-radius: 5px;
    margin-top: 1vh;
}

#closeButtonContainer {
    width: 100%;
    justify-content: end;
    text-align: end;
    margin: 0px;
    padding: 0px;
}

#closeButton {
    font-size: 20px;
    width: 20px;
}