#noNftText {
    color:rgb(242, 204, 52);
    font-size: 1em;
}

.profileForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}