@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

#footerDiv {
    width: 100%;
    border: none;
    /* background-color: rgb(244, 241, 202, .8); */
    /* background-color: rgba(217, 218, 218, 0.5); */
    background-color: #242a49d9;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    right: 0px;
    bottom: 0px;
    padding: .5rem 0rem .5rem 0rem;
    z-index: 2;
}

#publisherName {
    color:#242A49 ;
    background-color: rgb(211,214,233) ;
    border: 2px solid #242A49 ;
    border-radius: 20px;
    padding-inline: 1rem;
    padding-block: .1em;
    margin-block: .2rem;
    font-size: 1rem;
    /* font-style: italic; */
    font-weight: 300;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;

}

#publisherName:hover {
    padding-inline: .8em;
}

#footerSocials {
    display: flex;
    height: 42vh;
    width: 90%;
    border-radius: 25px;
    margin: .5rem;
    font-size: 1.4rem;
    background-color: #242A49;
    color: #242a49;
}

#footerSocials ul {
    font-size: .6em;
    text-align: start;
    width: 100%;
    overflow: auto;
    min-width: 240px;
    padding-block: 1rem;
    margin: .3rem;
    border-radius: 20px;
    /* background-color: white; */
    background-color: rgb(211,214,233) ;
}

#footerSocials ul li {
    display: flex;
    flex-direction: row;
}

#footerSocials ul li div {
    display: flex;
}

.footerProfileCard {
    /* display:flex;
    flex-direction: row; */
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin: 1px;
}

.footerProfileCard img {
    height: 40px;
    width: 40px;
    margin-right: 6px;
    border-radius: 5px;

}

.footerProfileCard div {
    width: fit-content;
    margin: 0px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.footerProfileCard div p {
    margin: 0px;
}

.border-white{
    border: 2px solid white;
}

.border-green {
    border: 2px solid green;
}

.border-blue {
    border: 2px solid blue;
}

.border-purple {
    border: 2px solid purple;
}

.border-orange {
    border: 2px solid orange;
}


@media screen and (min-width: 620px) {
    #footerDiv {
        width: 300px;
        border-radius: 20px 0px 0px 0px;
    }

    #footerSocials {
        width: 85%;
    }

    #footerSocials ul {
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        padding-left: 5px;
        border-radius: 5px;
    }

    .footerProfileCard {
        width: 175px;
    }
}
