@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

#footerDiv {
    width: 100%;
    border: none;
    background-image: linear-gradient(to bottom left, rgb(49,78,98),rgb(76,125,141), rgb(14,40,59));
    opacity: .96;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    right: 0px;
    bottom: 0px;
    padding: .5rem 0rem .5rem 0rem;
    z-index: 2;
    border-top: 1px solid white;
}

#publisherName {
    color:white ;
    background-color: rgba(243, 184, 21, 0.809);
    border-radius: 20px;
    padding-inline: 1rem;
    padding-block: .1em;
    margin-block: .2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
}

#footerSocials {
    display: flex;
    width: 85%;
    border-radius: 25px;
    margin: .5rem;
    font-size: 1.4rem;
    color: #663D18;
}

#footerSocials ul {
    display: grid;
    height:fit-content;
    min-height: 8vh;
    max-height: 40vh;
    font-size: 11px;
    text-align: start;
    width: 100%;
    overflow: auto;
    min-width: 220px;
    padding: .6rem;
    margin: .3rem;
    border-radius: 20px;
    background-color: #1e283be4;
}

#footerSocials ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 220px;
    border-radius: 10px;
}

#footerSocials ul li div {
    display: flex;
}

.footerProfileCard {
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin: 1px;
    background-color: white;  
    display: flex;
    align-items: center;
}

.footerProfileCard img {
    height: 35px;
    width: 35px;
    margin-right: 6px;
    border-radius: 5px;
}

.footerProfileCard div {
    width: fit-content;
    margin: 0px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.footerProfileCard div p {
    margin: 0px;
    font-weight: 600;
}

.border-white{
    border: 3.5px solid rgb(224, 223, 223);
}

.border-green {
    border: 3.5px solid rgb(104, 169, 57);
}

.border-blue {
    border: 3.5px solid rgb(75, 96, 232);
}

.border-purple {
    border: 3.5px solid purple;
}

.border-orange {
    border: 3.5px solid orange;
}


@media screen and (min-width: 620px) {
    .footerProfileCard {
        width: 175px;
    }
}
