@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

#footerDiv {
    /* height: 10vh; */
    width: 100%;
    border: none;
    /* background-color: rgb(244, 241, 202, .8); */
    /* background-color: rgba(217, 218, 218, 0.5); */
    background-color: rgba(129, 117, 117, 0.427);

    /* background-color: transparent; */
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom: 0px;
    padding: .8rem 0rem .8rem 0rem;
    z-index: 2;

}

#publisherName {
    color:rgb(244, 162, 10);
    background-color: rgb(255, 240, 215);
    border: 2px solid rgb(244, 162, 10);
    border-radius: 20px;
    padding: .5rem;
    margin-bottom: .2rem;
    font-size: 1.2rem;
    /* font-style: italic; */
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;

}

#footerSocials {
    display: flex;
    height: 22vh;
    width: 90%;
    border-radius: 25px;
    margin: .5rem;
    font-size: 1.4rem;
    background-color: rgb(244, 162, 10);
    color: rgb(26, 204, 244);
}

#footerSocials ul {
    font-size: .6em;
    text-align: start;
    width: 100%;
    overflow: auto;
    min-width: 240px;
    padding-block: 1rem;
    margin: .3rem;
    border-radius: 20px;
    /* background-color: white; */
    background-color: rgb(255, 240, 215);
}

#footerSocials ul li {
    padding: .5rem;
}

#footerSocials ul li div {
    display: flex;
    flex-direction: column;
}

