@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

.loginMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.loginComponent {
    backdrop-filter: blur(0px);
    min-height: 40vh;
    width: 78vw;
    max-width: 340px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left,rgb(255, 179, 0),#3F3D58, #3F3D58);
    /* background-color: #3F3D58; */
    padding: 1rem;
    border-radius: 25px;
    margin-top: 18vh;
    box-shadow: 0px 10px 18px 0px #242a49cb;
}

.loginComponent h1 {
    color: #CFA14E;
    -webkit-text-stroke: 1px white;
    margin-bottom: 0px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5rem;
}

.loginComponent button {
    border: solid 2px #3F3D58;
    background: #CFA14E;
    text-decoration: underline;
    /* -webkit-text-stroke: 1px white; */
    /* backdrop-filter: blur(20px); */
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 4vh;
    font-weight: 600;

    /* -webkit-box-shadow: 0px 1px 1px rgb(211, 214, 233);
    -moz-box-shadow: 0px 5px 5px rgb(211, 214, 233);
    box-shadow: 1px 0px 7px 3px rgb(211, 214, 233); */
  
}

.loginComponent button:hover {
    color: rgb(76,125,141);
    background-color: #f7e6c6;
    border: white solid 2px;
}

.payloadDiv {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payloadDiv img {
    margin-top: 1.5vh;
    height: 130px;
    width: 130px;
}

.payloadDiv a {
    font-size: .75rem;
    max-width: 60vw;
    padding: .7rem;
    color: white;
}

#signInMsg {
    color: #3F3D58;
    text-align: start;
    background-color: white;
    border: solid white 2px;
    padding-inline: 7px;
    padding-block: 3px;
    border-radius: 10px;
    font-size: .7rem;
    max-width: 85vw;
    font-family: 'Rajdhani', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 20px;
    font-weight: bold;
}

#successP {
    color: rgb(120, 246, 120);
    font-weight: bold;
}

#failureP {
    color: rgb(250, 246, 0);
    font-weight: bold;
    font-size: .8rem;
}

#fingerprintLoginSvg {

    height: 25vh;
    width: 100%;
    position: absolute;
    bottom: 10.5vh;
    overflow: hidden;
}

@media screen and (min-width: 440px) {
    .loginComponent {
        max-width: 300px;
    }
}

@media screen and (min-width: 640px) {
    .loginComponent {
        max-width: 300px;
        right: 11vw;
        margin-top: 20vh;
    }

    .payloadDiv img {
        width: 120px;
        height: 120px;
    }

    #fingerprintLoginSvg {
        height: 60vh;
        left: -18vw;
    }
}

@media screen and (min-width: 790px) {
    .loginComponent {
        right: 20vw;
    }
}

@media screen and (min-width: 1060px) {
    .loginComponent {
        right: 26vw;
        margin-top: 22vh;
    }

    #fingerprintLoginSvg {
        height: 70vh;
    }
}

@media screen and (min-width: 1400px) {
    .loginComponent {
        right: 23vw;
    }

    #fingerprintLoginSvg {
        height: 70vh;
        left: -8vw;
    }
}